<h2>User info</h2>
<%= form_with model: user do |f| %>
  <table class="table">
    <tr>
      <th>name</th>
      <th></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th></th>
    </tr>
  </table>
  <div class="btn btn-block btn-outline-secondary">
    <i class="fa-solid fa-user-gear"></i>
  </div>
<% end %>
    