<h2>User info</h2>
<%= form_with model: @user do |f| %>
    <lanel for="inputName">Name</lanel>
    <%= f.text_field :name, autofocus: true, id: "inputName" %>
    <label for="inputImage">ProfileImage</label>
    <%= f.file_field :profile_image, accept: "image/*" %>
    <%= f.submit "Update" %>
<% end %>